{% extends 'base.html' %}
{% block content %}

<div class="container-fluid py-5">
   <div class="card">
      <div class="">
         <form method="post" action="{% url 'add_designationpage' %}">
            {% csrf_token %}
            <div class="admin-card-header card-header d-flex justify-content-between align-items-center">
               <h3 class=""><span>Add Designation</span></h3>
               <div>
                  <ul style="margin: 0; padding: 0; list-style: none;">
                     <li style="display: inline;">
                        <a href="{% url 'Admin/homepage' %}"
                           style="text-decoration: none; color: #007bff;">Dashboard</a>
                     </li>
                     <li style="display: inline; margin-left: 5px; margin-right: 5px; color: #868e96;">/</li>
                     <li style="display: inline; ">Add Designation</li>
                  </ul>
               </div>
            </div>
            {% include 'includes/messages.html' %}

            <div class="card-body">
               <div class="">
                  <div class="form-group">
                     <label>Designation Name:</label>
                     <input type="text" class="form-control" name="designation_name" value="" required>
                  </div>

                  <div class="">
                     <button type="submit" class="btn btn-primary">Add Designation</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

{% endblock %}