{% extends 'base.html'%}
{% block content %}

<div class="py-5 container-fluid">
   <div class="card">
      <div class="">
         <form method="post" action="{% url 'add_employeepage' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header admin-card-header d-flex align-items-center justify-content-between">
               <h3 class="my-3" style="content: center;"><span>Add New Employee</span></h3>
               <div>
                  <ul style="margin: 0; padding: 0; list-style: none;">
                     <li style="display: inline;">
                        <a href="{% url 'Admin/homepage' %}"
                           style="text-decoration: none; color: #007bff;">Dashboard</a>
                     </li>
                     <li style="display: inline; margin-left: 5px; margin-right: 5px; color: #868e96;">/</li>
                     <li style="display: inline;">Add Employee</li>
                  </ul>
               </div>
            </div>
            {% include 'includes/messages.html' %}
            <div class="card-body row">
               <div class="col-md-12">
                  <div class="form-group">
                     <label>Profile Image:</label>
                     <input type="file" class="form-control" name="profile_pic">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label>First Name:</label>
                     <input type="text" class="form-control" name="first_name" value="{{ form_data.first_name }}"
                        required>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label>Last Name:</label>
                     <input type="text" class="form-control" name="last_name" value="{{ form_data.last_name }}"
                        required>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label>Email:</label>
                     <input type="text" class="form-control" placeholder="" name="email" value="{{ form_data.email }}"
                        required>
                  </div>
               </div>

               <div class="col-md-6">
                  <div class="form-group">
                     <label>Username:</label>
                     <input type="text" class="form-control" name="username" value="{{ form_data.username }}" required>
                  </div>
               </div>

               <div class="col-md-6">
                  <div class="form-group">
                     <label>Password:</label>
                     <input type="password" class="form-control" placeholder="" name="password"
                        value="{{ form_data.password }}" required>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label>Address:</label>
                     <textarea class="form-control" name="address" required>{{ form_data.address }}</textarea>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label>Designation:</label>
                     <select class="form-control" name="designation_id" required>
                        <option value="">Select Designation</option>
                        {% for i in designation_list %}
                        <option value="{{ i.id }}" {% if i.id == form_data.designation_id %} selected {% endif %}>{{
                           i.name
                           }}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>

               <div class=" col-md-6">
                  <div class="form-group">
                     <label>Gender:</label>
                     <select class="form-control" name="gender" required>
                        <option>Select Gender</option>
                        <option value="Male" {% if form_data.gender == 'Male' %} selected {% endif %}>Male</option>
                        <option value="Female" {% if form_data.gender == 'Female' %} selected {% endif %}>Female</option>
                        <option value="Other" {% if form_data.gender == 'Other' %} selected {% endif %}>Other</option>
                     </select><br>
                  </div>
               </div>
               <div class="col-12 text-center">
                  <button type="submit" class="btn btn-primary">Add Employee</button>
               </div>

            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}