{% extends 'base.html' %}
{% block content %}

<div class="col-sm-9">
   <div class="card">
      <div class="card-body">
         <form method="post" action="{% url 'add_session' %}">
            {% csrf_token %}
            <div class="col-12">
               <div style="height: 40px;">
                  <ul style="margin: 0; padding: 0; list-style: none;">
                      <li style="display: inline;">
                          <a href="{% url 'Admin/homepage' %}" style="text-decoration: none; color: #007bff;">Dashboard</a>
                      </li>
                      <li style="display: inline; margin-left: 5px; margin-right: 5px; color: #868e96;">/</li>
                      <li style="display: inline; "><a href="{% url 'view_session' %}">View Session</a></li>
                  </ul>
              </div>

               <h1 class="form-title my-3"><span>Add Session</span></h1>

            </div>
            {% include 'includes/messages.html' %}
            <div class="col-sm-9">
                <div class="form-group">
                   <label> Session year Start</label>
                   <div>
                      <input type="date" class="form-control" name="session_year_start" required>
                   </div>
                </div>

                <div class="form-group">
                   <label>Session year End</label>
                   <div>
                      <input type="date" class="form-control" name="session_year_end" required>
                   </div>
                </div>

            <div class="col-12">
               <button type="submit" class="btn btn-primary">Add Session</button>
            </div>

         </form>
      </div>
   </div>
</div>

{% endblock %}