{% extends 'base.html' %}
{% block content %}
  {% load static %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{% url 'Admin/homepage' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">View All Attendance</a></li>
          </ul>
          <h3 class="page-title text-center">List Of Employee Attendance</h3>
        
          {% include 'includes/messages.html' %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table id="table_id" class="table table-hover table-center mb-0 datatable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Login Time</th>
                    <th>Logout Time</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in admin_attendance %}
                    <tr>
                      <td>{{ i.employee_id }}</td>
                      <td>{{ i.date }}</td>
                      <td>{{ i.login_time }}</td>
                      <td>{{ i.logout_time }}</td>
                      <td class="text-right">
                        <div class="actions">
                          <a href="{% url 'edit_attendance' i.id %}" class="btn btn-sm bg-success-light mr-2">
                            <i class="fas fa-pen"></i>
                          </a>
                          <a href="{% url 'delete_attendance' i.id %}" class="btn btn-sm bg-danger-light">
                            <i class="fas fa-trash"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- Pagination controls -->
            <div class="pagination">
              <span class="step-links">
                {% if admin_attendance.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ admin_attendance.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current-page">{{ admin_attendance.number }}</span>
                {% if admin_attendance.has_next %}
                  <a href="?page={{ admin_attendance.next_page_number }}">next</a>
                  <a href="?page={{ admin_attendance.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Initialize DataTable -->
  <script>
    $(document).ready(function () {
      $('#table_id').DataTable();
    });
  </script>

{% endblock %}
