{% extends 'base.html'%}
{% block content %}

<div class="col-sm-9">
   <div class="card">
      <div class="card-body">
         <form method="post"  action="{% url 'update_employeepage' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
               <h3 class="form-title my-3" ><span>EDIT EMPLOYEE</span></h3>
            </div>

             <div class="col-sm-9">
               <div class="form-group">
                  <label>Profile Image:</label>
                  <input type="file" class="form-control" name="profile_pic">
                 <!-- this filed use for grt for update employee data-->
                  <input type="text" class="form-control" name="employee_id"
                  value="{% for i in employee %}{{i.admin.id}}{% endfor %}" hidden>
               </div>
            </div>

            <div class="col-sm-9">
               <div class="form-group">
                  <label>First Name:</label>
                  <input type="text" class="form-control" name="first_name"
                     value="{% for i in employee %}{{i.admin.first_name}}{% endfor %}" >
               </div>
            </div>
            <div class="col-sm-9">
               <div class="form-group">
                  <label>Last Name:</label>
                  <input type="text" class="form-control" name="last_name"
                     value="{% for i in employee %}{{i.admin.last_name}}{% endfor %}" >
               </div>
            </div>
            <div class="col-sm-9" >
               <div class="form-group">
                  <label>Email:</label>
                  <input type="text" class="form-control"
                     placeholder="" name="email" value="{% for i in employee %}{{i.admin.email}}{% endfor %}" >
               </div>
            </div>

             <div class="col-sm-9" >
               <div class="form-group">
                  <label>Username:</label>
                  <input type="text" class="form-control" name="username"
                         value="{% for i in employee %}{{i.admin.email}}{% endfor %}" >
               </div>
            </div>

            <div class="col-sm-9">
               <div class="form-group" >
                  <label>Password:</label>
                  <input type="password" class="form-control"
                     placeholder="fill only if you went to change password" name="password"
                         >
               </div>
            </div>
             <div class="col-sm-9">
               <div class="form-group" >
                  <label>Address:</label>
                  <textarea class="form-control" name="address" >{% for i in employee %}{{i.address}}{% endfor %}</textarea>
               </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <label>Designation:</label>
                    <select class="form-control" name="designation_id" >
                        <option value="">Select Designation</option>
                        {% for i in designation_list %}  <!-- Updated variable name -->
                            <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class=" col-sm-9">
               <div class="form-group">
                  <label>Gender:</label>
                  <select class="form-control" name="gender" >
                     <option>Select Gender</option>
                     <option  value="Male">Male</option>
                     <option  value="Female">Female</option>
                     <option  value="Other">Other</option>
                  </select><br>
               </div>
            </div>

            <div class="col-12">
               <button type="submit" class="btn btn-primary">Update Employee</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}