<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include ApexCharts library -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>

    $(document).ready(function() {
    var options = {
          series: [{{employee_count}}, {{designation_count}}, {{employee_leave_count}}],
          chart: {
          width: 450,
          type: 'pie',
        },
        labels: ['Employee', 'Designation', 'Leave'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 350
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#All_details"), options);
        chart.render();

        // Bar chart
        if ($('#emp_gender').length > 0) {
            // Fetch the data from Django context
            var employee_gender_male = {{ employee_gender_male }};
            var employee_gender_female = {{ employee_gender_female }};

            var optionsBar = {
                chart: {
                    type: 'bar',
                    height: 300,
                    width: '100%',
                    stacked: true,
                    fontSize: '21px',
                    toolbar: {
                        show: false
                    },
                },
                dataLabels: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        columnWidth: '45%',
                    }
                },
                series: [{
                    name: "Male",
                    color: '#fdbb38',
                    data: [{{employee_gender_male}}],
                }, {
                    name: "Female",
                    color: '#19affb',
                    data: [{{employee_gender_female}}],
                }],
                labels: [2023, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
                xaxis: {
                    labels: {
                        show: false
                    },
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    labels: {
                        style: {
                            colors: '#777'
                        }
                    }
                },
                title: {
                    text: '',
                    align: 'left',
                    style: {
                    fontSize: '21px'
                    }
                }
            }

            var chartBar = new ApexCharts(document.querySelector('#emp_gender'), optionsBar);
            chartBar.render();
        }
    });
</script>
